body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    margin: 0;
  }
  
  button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0074D9;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #00345E;
  }
  
  #fetch-button {
    margin-top: 20px;
  }
  
  #earthquake-data {
    margin-top: 20px;
  }
  
  h1 {
    font-size: 2rem;
    margin-top: 40px;
  }
  
  p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  #activity {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  